@media screen and (min-width: 700px) {
    .hidden {
        display: inline;
        margin-right: 2vw;
    }

    .nav-toggle {
        display: none;
    }

    .expanded {
        display: none;
    }

    .hero {
        padding-top: 240px;
        padding-bottom: 100px;
    }




    h1 {
        margin-bottom: 80px;
    }

    h2 {
        margin-bottom: 4vw;
    }

    h4 {
        font-size: 2vw;
    }




    #about-contents {
        display: flex;
        flex-direction: row;
    }

    .headshot {
        width: 35%;
        padding-top: 28%;
        margin-right: 2vw;
        margin-left: 6vw;
        margin-bottom: 4vw;
    }

    .bio {
        width: 50%;
    }

    .bio p {
        text-align: left;
    }

    #portfolio {
        padding-bottom: 0;
    }

    .project-odd {
        height: 33vw;
    }

    .project-even {
        height: 42vw;
    }

    .appPreview {
        float: right;
        width: 35%;
        padding-top: 28%;
        margin-right: 6vw;
        margin-left: 2vw;
    }

    .evenPreview {
        float: left;
        margin-right: 2vw;
        margin-left: 6vw;
    }

    .appName {
        width: 55%;
        text-align: right;
        margin-top: 85px;
    }


    .evenName {
        width: 100%;
        position: relative;
        left: 48vw;
        text-align: left;
        padding-top: 5vw;
    }


    .techLogo {
        width: 6%;
        padding-top: 5.45%;
        margin-top: 2vw;
        margin-left: 2vw;
        margin-right: 2vw;
        margin-bottom: 1vw;
        float: left;
    }

    .evenLogo {
        float: right;
    }

    .htmlLogo {
        margin-left: 18vw;
    }

    .htmlEven {
        margin-left: 2vw;
        margin-right: 14vw;
    }

    .appBio p {
        clear: left;
        text-align: right;
        margin-bottom: 4vw;
    }

    .evenBio p {
        clear: right;
        text-align: left;
    }

    .links {
        float: left;
        margin-left: 4vw;
    }


    footer {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
    }

    .con {
        display: none;
    }

    .contactInfo {
        font-size: 1.5vw;
        margin-right: 5vw;
    }
}